<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
<body>
  <!DOCTYPE html>
  <html>

    <body>
      <header class="" >
        <h1>Nieuws</h1>
        <button autofocus id="0.1" class="leeslijst" href="#">Leeslijst <span>3</span></button >
      </header>
      <section>
        <h2>Laatste nieuws</h2>
        <div class="headline_news">
          <a href="/article/<%= data[0].id %>" id="1.1" >
            <article class="tint" >
              <h3>
                <%= data[0].title %>
              </h3>
              <img
                src="<%= data[0].urlToImage %>"
                alt=""
              />
            </article>
          </a>
          <a href="/article/<%= data[1].id %>" id="1.2">
            <article class="tint" >
              <h3> <%= data[1].title %></h3>
              <img
                src="<%= data[1].urlToImage %>"
                alt=""
              />
            </article>
          </a>
        </div>
      </section>
      <nav >
        <a id="2.1" href="#politiek">Navigatie overslaan</a>
        <a id="2.2" href="#?" onclick="wijzigvoorkeuren(event)" onkeydown="wijzigvoorkeuren(event)">Wijzig voorkeuren</a>
        <ul >
          <a id="3.1" href="" onclick="removefromlist(event)" onkeydown="removefromlist(event)">Politiek</a>
          <a id="3.2" href="#" onclick="removefromlist(event)"  onkeydown="removefromlist(event)">Economie</a>
          <a  id="3.3" href="#" onclick="removefromlist(event)" onkeydown="removefromlist(event)">Sport</a>
          <a id="3.4" href="#" onclick="removefromlist(event)"  onkeydown="removefromlist(event)">Tech</a>
          <a id="3.5" href="#" onclick="removefromlist(event)"  onkeydown="removefromlist(event)">Cultuur & Media</a>
          <a id="3.6" href="#" onclick="removefromlist(event)"  onkeydown="removefromlist(event)">Regionaal</a>
          <a id="3.7" class="metal" href="/metal" onclick="removefromlist(event)" onkeydown="removefromlist(event)">Metal</a>
        </ul>

      <p class="moreonderwerpen">meer onderwerpen</p>
        <ul id="intactivelist">
          <a class="inactive" href="#" onclick="addtolist(event)"  onkeydown="addtolist(event)">Uit</a>
          <a class="inactive" href="#" onclick="addtolist(event)"  onkeydown="addtolist(event)">Entertainment</a>
          <a class="inactive" href="#" onclick="addtolist(event)"  onkeydown="addtolist(event)">Voetbal</a>
          <a class="inactive" href="#" onclick="addtolist(event)"  onkeydown="addtolist(event)">Auto</a>
          <a class="inactive" href="#" onclick="addtolist(event)"  onkeydown="addtolist(event)">Wonen</a>
        </ul>
        <a class="moreonderwerpen" href="#" onclick="removeallclasses(event)" onkeydown="removeallclasses(event)">Gereed</a>

      </nav>
      <section id="politiek" >
        <h2>Politiek</h2>
        <!-- <a href="#">Meer over Politiek</a> -->
        <div class="category_news">
          <a href="/article/<%= data[4].id %>" id="4.1">
            <article>
              <h4><%= data[4].title %></h4>
              <img
                src="<%= data[4].urlToImage %>"
                alt=""
              />
            </article>
          </a>
          <a href="/article/<%= data[5].id %>" id="4.2">
            <article>
              <h4><%= data[5].title %></h4>
              <img
                src="<%= data[5].urlToImage %>"
                alt=""
              />
            </article>
          </a>
        </div>
      </section>
      <section id="economie">
        <h2>Economie</h2>
        <!-- <a href="#">Meer over Politiek</a> -->
        <div class="category_news">
          <a href="/article/<%= data[7].id %>" id="5.1">
            <article>
              <h4><%= data[7].title %></h4>
              <img
                src="<%= data[7].urlToImage %>"
                alt=""
              />
            </article>
          </a>
          <a href="/article/<%= data[6].id %>" id="5.2">
            <article>
              <h4><%= data[6].title %></h4>
              <img
                src="<%= data[6].urlToImage %>"
                alt=""
              />
            </article>
          </a>
        </div>
      </section>

    </body>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script src="/index.js"></script>
</html>
